
<div class = "container">
    <form ng-submit="vm.addNewMovie(vm.movieToAdd)">
        <input type="text" placeholder="name" ng-model="vm.movieToAdd.name">
        <input type="date" placeholder="date" ng-model="vm.movieToAdd.date">
        <input type="number" placeholder="length" ng-model="vm.movieToAdd.length">
        <input type="genre_id" placeholder="name" ng-model="vm.movieToAdd.genre_id">

           
            <!-- <option value="">---Please select---</option> -->
            <option value="2">{{genre_id}}</option>
        
            <option ng-repeat="genres in vm.genre.list" value="{{genre.id}}">{{genre}}</option>
        </select>
        <input type="submit">
    </form>

    <div class="movie">
    <div ng-hide="vm.movies.list.length">No Movies.</div>
    <div ng-repeat="movies in vm.movies.list">
        <p>Movie name: {{movies.name}}<p>
        <p>Release Date: {{movies.date| date: 'MMMM dd, yyyy' }}</p>
        <p>Movie Length: {{movies.length}}</p>
        <p>Genre: {{movies.genre}}</p>
        <button ng-click="vm.removeMovie(movie)">Delete</button>

    </div>
    </div>
</div>
